.infosec {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 12rem;
}

.infosec-logo {
  animation: infosec-logo-spin infinite 20s linear;
  height: 80px;
}

.infosec-header {
  background-color: #2f3a49;
  height: 11rem;
  padding: 2rem;
  color: #fff8f9;
}

.infosec-title {
    font-size: 3.4rem;
    font-weight: bold;
    color: #6deeb9;
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: rgba(0,0,0,.5);
}

.infosec-intro {
  font-size: large;
}
.infosec-main_image{
    background: url("https://cdn-images-1.medium.com/max/2000/1*oTCgvrRHRzNApJxeh-JKJg.png") no-repeat center center;
    width: 100%;
    background-size: 100% auto;
}

@keyframes infosec-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
