@import "stylesheets/blogpost.css";
@import "stylesheets/blogpostgrid.css";
@import "stylesheets/blogpostcard.css";

body {
  min-height: 100%;
  position: relative;
  background: #f2f2f2;
  color: #555555;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}